.sort_filter {
  display: flex;
  justify-content: space-around;

  ul {
    display: flex;

    li {
      position: relative;
      display: block;
      cursor: pointer;
      padding: 10px 20px;
      text-decoration: none;
      transition: 0.5s;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: 0.3s;
      }

      &:after {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        transform: scale(0);
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }

      &:hover {
        color: #fff;

        &:before {
          transform: scaleY(1);
          opacity: 1;
        }

        &:after {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

.active {
  color: #fff;

  &:before {
    transform: scaleY(1) !important;
    opacity: 1 !important;
  }

  &:after {
    transform: scaleY(1) !important;
    opacity: 1 !important;
  }
}
.title {
  width: auto;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 640px) {
  .sort_filter {
    flex-wrap: wrap;

    ul {
      flex-wrap: wrap;
    }
    li {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  .title {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
  }
}
