.order_form {
  width: 100%;
  padding-top: 1.5rem;

  label {
    max-width: 100%;
    flex: 0 0 100%;
  }

  input {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 5px 0;
    border-bottom: 2px solid #999999;
  }

  span {
    font-style: italic;
    font-size: 12px;
    position: relative;
    display: block;
    width: 100%;
  }

  .item_group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 20px;
  }

  .oreder_price {
    font-size: 18px;
    font-weight: bold;
  }
}

.btn_submit {
  margin: 0 auto;
  cursor: pointer;
  padding: 5px;
}

h4 {
  text-align: center;
}
