.nav_link {
    display: block;
    padding: 0 15px;
}

.nav_wrapper {
    display: flex;
}

.nav_brand {
    display: block;
    padding: 0 15px;

}

.nav {
    display: flex;
    justify-content: space-between;
}