.index {
    position: relative;

    i {
        font-size: 24px;
    }

    span {
        position: absolute;
        color: #ffffff;
        left: -10px;
        top: -10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #e65540;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}