.catalog {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  /*   padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 0; */
  background: #fff;
}

.product_card {
  width: calc(33% - 15px);
  padding: 10px 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  justify-content: space-around;
  &:last-child {
    margin-right: 0;
  }
}

.product_link {
  width: 100%;
  font-weight: bold;
  color: #460482;
  font-size: 18px;
  height: auto;
  display: block;

  img {
    max-width: 80%;
  }
}

.product_price {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  padding: 1rem 0;
}

.product_specifications {
  font-size: 12px;
  text-align: left;

  h4 {
    margin: 15px 0;
    font-size: 14px;
  }

  ul {
    margin-left: 1rem;

    li {
      list-style-type: disc;
      padding: 5px 0;
    }
  }
}
@media (max-width: 992px) {
  .product_card {
    width: calc(45% - 15px);
  }
}
@media (max-width: 768px) {
  .product_card {
    width: calc(50% - 15px);
    font-size: 14px;
  }
  .product_link {
    font-size: 14px;
  }
  .product_price {
    padding: 0.5rem 0;
  }
}
@media (max-width: 360px) {
  .product_card {
    width: 100%;
    margin-bottom: 25px;
    padding-top: 15px;
  }
}
