.card_image_data {
  img {
    max-width: 100%;
  }
}

.empty_cart {
  text-align: center;
  padding: 60px;
  font-size: 35px;
}

.head {
  font-weight: bold;
  border-bottom: 1px solid rgb(161, 161, 161);

  [class*='col-'] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.single_product {
  border-bottom: 1px solid rgb(161, 161, 161);

}

.catalog {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  background: #fff;
}

.cart_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(161, 161, 161);
}

.total_price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid rgb(161, 161, 161);
  font-weight: bold;
}

.input_group {
  width: 120px;
  contain: strict;
  position: relative;
  min-width: 120px;
  height: 36px;
  font: 14px/16px Arial, sans-serif;
  border: 1px solid #dedede;
  border-radius: 4px;

  input {
    contain: strict;
    min-width: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 39px;
    border: none;
    font: inherit;
    text-align: center;
    background-color: #fff;
  }

  button {
    contain: strict;
    margin-bottom: 0;
    width: 34px;
    height: 34px;
    border: 0 solid #dedede;
    position: absolute;
    box-sizing: content-box;
    border-radius: 0;
    top: 0;
    text-align: center;
    display: block;
    color: rgba(0, 0, 0, 0.54);
  }

  .btn_plus {
    right: 0;
    border-left-width: 1px;
  }

  .btn_minus {
    left: 0;
    border-right-width: 1px;
  }
}