$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px) !default;

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px) !default;



@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./assets/font-awesome.css";
@import "../node_modules/swiper/css/swiper.css";

@font-face {
    font-family: Montserrat-Regular;
    src: url('./assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Montserrat-Regular, sans-serif;
    font-weight: 400;
}

body {
    background-color: #fafafa;
}

a {
    font-family: Montserrat-Regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    text-decoration: none;

}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #e65540;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: 700;
}

p {
    font-family: Montserrat-Regular;
    font-size: 15px;
    line-height: 1.7;
    color: #888888;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

.small-txt {
    font-size: 14px;
}